
  @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');



:root {
    --font-family:'Orbitron', sans-serif;
    color: aliceblue;
    --w-r:  400;
    --w-m:  500;
    --w-sb: 600;
    --w-b: 700;
   
    --color-bg: #070707;
    --color-text: #FBFBFB;
    --color-subtext: #898989;
    --color-button:  #000000;

    
}